.image-container {
    display: block;
    max-width: 100%;
    height: auto;
}

.responsive-image {
    width: 100%;
    height: auto;
}

.info-container {
    margin: 12vh 0;
    display: flex;
    justify-content: space-evenly;
}

.info-text {
    align-items: center;
}

.section {
    text-align: center;
}

.italic-paragraph {
    font-style: italic;
}


.introduction-container {
    align-items: flex-start;
    padding: 0 10%;
    display: flex;
    justify-content: space-around;
}

.intro-content p {
    text-align: justify;
}

.intro-content h4 {
    text-align: left;
    margin: 0;
}

.intro-content,
.intro-image-container{
    flex: 1;
    max-width: 47%;
}


.line-with-margin {
    margin: 60px 8%;
}
