.background-svg {
    width: 100%;
    height: auto;
    z-index: -1;
}

.magnifier-svg,
.menu-svg,
.home-svg {
    height: 7vh;
    width: auto;
    transition: fill 0.02ms, stroke 0.02ms;
}

.header-text {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}

.magnifier-link,
.menu-link,
.home-link {
    display: flex;
    align-items: center;
}

.text-style {
    font-size: 2vw;
    color: white;
    font-weight: normal;
}

.title-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-container {
    display: flex;
    justify-content: space-between; /* Set to space between elements */
    align-items: center;
}

.clickable-area {
    padding: 0 10px;
}

.clickable-area:hover,
.magnifier-link:hover,
.clickable-area.search-hovered {
    color: #A300CC;
}

.magnifier-svg.search-hovered .magnifier-circle,
.magnifier-svg.search-hovered .magnifier-line {
    stroke: #A300CC;
}

.menu-svg.menu-hovered .line-menu-one,
.menu-svg.menu-hovered .line-menu-two,
.menu-svg.menu-hovered .line-menu-three {
    stroke: #A300CC;
}

.home-svg.home-hovered .home-base,
.home-svg.home-hovered .home-roof {
    stroke: #A300CC;
}