.box-admin-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #dfdfdf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: 10px;
}

.info-profile-box {
    flex: 1;
    margin: 0 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.info > svg {
    margin-right: 5px;
}

.user-editing-options {
    display: flex;
    gap: 15px;
}

.profile0 {
    width: 70px;
    height: 70px;
}

.info-profile-box:nth-child(-n+2) {
    justify-content: flex-start;
}

.info-profile-box:not(:nth-child(-n+2)) {
    justify-content: center;
}