.footer {
    margin-top: 200px;
    height: 404px;
    background-color: #C184FE;
    text-align: left;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.column {
    height: 60%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    max-width: 250px;
}

.column:first-child {
    flex: 0 0 45%;
    max-width: 45%;
}

.column:not(:first-child) {
    justify-content: space-around; /* Use space-around for all columns except the first one */
}

.footer-header {
    margin-left: 40px;
    margin-bottom: 10px;
}

.column a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.column a:hover {
    text-decoration: underline;
}

/* Style the first word in each column */
.column h5:first-child,
.column a:first-child {
    font-weight: 600; /* Semibold */
    font-size: 20px;
}

.footer-line {
    width: 100%;
    border-bottom: 2px solid #fff;
    margin: 5px 40px;
    height: 4px;
}

.names {
    color: #fff;
    font-size: 16px;
    height: 5%;
    margin-left: 40px;
    letter-spacing: 5px;
}