body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  letter-spacing: 3px;
}

h1 {
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: bold;
}

h2 {
  color: #A300CC;
  font-size: 24px;
  font-weight: 500;
}

h3 {
  color: #929292;
  font-weight: normal;
  font-size: 24px;
}

h4 {
  color: #C2A5FF;
  font-size: 36px;
  letter-spacing: 10px;
}

h5 {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

p {
  font-size: 24px;
}
